In [61]:
import pandas as pd
import zipcodes
import numpy as np

In [2]:
df = pd.read_csv('ACS_5YR_ESTIMATES_SOCIOECONOMIC_TRACT_-7539545567165796218.csv')

In [3]:
df.columns

Index(['OBJECTID', 'GEOID', 'STATE', 'COUNTY', 'TRACT', 'NAME', 'CNTY_FIPS',
       'EACODE', 'EANAME', 'B08013EST1',
       ...
       'B23006EST29', 'B23006EST29_PCT', 'B24021EST2', 'B24021EST17',
       'B24021EST25', 'B24021EST28', 'B24021EST29', 'B24021EST32',
       'Shape__Area', 'Shape__Length'],
      dtype='object', length=149)

In [ ]:
df['GEOID'] = df['GEOID'].astype(str).str.zfill(11)
ca_df = df[df['GEOID'].str.startswith('06')].copy()
print(len(df), 'total rows;', len(ca_df), 'California rows')
ca_df.to_csv('ca_tracts.csv', index=False)
ca_df.head()

85154 total rows; 9115 California rows

,OBJECTID,GEOID,STATE,COUNTY,TRACT,NAME,CNTY_FIPS,EACODE,EANAME,B08013EST1,...,B23006EST29,B23006EST29_PCT,B24021EST2,B24021EST17,B24021EST25,B24021EST28,B24021EST29,B24021EST32,Shape__Area,Shape__Length
1697,1698,06073013906,6,73,13906,Census Tract 139.06,6073,NaN,NaN,68985.0,...,83,15.04,48571.0,120208.0,36050.0,47784.0,44630.0,65924.0,2.527763e+06,9010.215864
1698,1699,06073006801,6,73,6801,Census Tract 68.01,6073,NaN,NaN,38955.0,...,124,39.37,80355.0,41875.0,25885.0,65568.0,81696.0,NaN,9.536808e+05,4617.941203
1699,1700,06073009802,6,73,9802,Census Tract 98.02,6073,NaN,NaN,76210.0,...,84,21.43,75577.0,NaN,NaN,58854.0,NaN,NaN,2.819492e+06,7022.192418
1700,1701,06073018801,6,73,18801,Census Tract 188.01,6073,NaN,NaN,44875.0,...,122,27.11,85771.0,NaN,NaN,49250.0,50391.0,NaN,1.810234e+07,29799.480836
1701,1702,06073002301,6,73,2301,Census Tract 23.01,6073,NaN,NaN,34495.0,...,27,7.69,61189.0,NaN,21034.0,27169.0,21471.0,NaN,6.002427e+05,3719.255195

In [6]:
df = pd.read_csv('ca_tracts.csv')

In [7]:
df.shape

(9115, 149)

In [8]:
rename_map = {
    'B08013': 'agg_travel_time_to_work_by_sex',
    'B08303': 'travel_time_to_work',
    'B17019': 'poverty_families_by_household_type_tenure',
    'B17021': 'poverty_individuals_by_living_arrangement',
    'B19001': 'household_income_distribution',
    'B19013': 'median_household_income',
    'B19025': 'aggregate_household_income',
    'B19113': 'median_family_income',
    'B19202': 'median_nonfamily_household_income',
    'B23001': 'sex_age_employment_status_16plus',
    'B25014': 'tenure_occupants_per_room',
    'B25026': 'occupied_population_by_tenure_year_moved',
    'B25106': 'tenure_housing_costs_pct_income',
    'C24010': 'sex_by_occupation_employed_16plus',
    'B20004': 'median_earnings_by_sex_education_25plus',
    'B23006': 'education_attainment_employment_status_25_64',
    'B24021': 'occupation_median_earnings_fulltime_yearround_16plus'
}

df.rename(columns=rename_map, inplace=True)

In [9]:
b_cols = [col for col in df.columns if col.startswith('B')]
for col in b_cols:
    for key in rename_map:
        if key in col:
            tmp = col.replace(key, rename_map[key])
            df.rename(columns={col: tmp}, inplace=True)

In [10]:
# count the number of nan values in each column
df.columns

Index(['OBJECTID', 'GEOID', 'STATE', 'COUNTY', 'TRACT', 'NAME', 'CNTY_FIPS',
       'EACODE', 'EANAME', 'agg_travel_time_to_work_by_sexEST1',
       ...
       'education_attainment_employment_status_25_64EST29',
       'education_attainment_employment_status_25_64EST29_PCT',
       'occupation_median_earnings_fulltime_yearround_16plusEST2',
       'occupation_median_earnings_fulltime_yearround_16plusEST17',
       'occupation_median_earnings_fulltime_yearround_16plusEST25',
       'occupation_median_earnings_fulltime_yearround_16plusEST28',
       'occupation_median_earnings_fulltime_yearround_16plusEST29',
       'occupation_median_earnings_fulltime_yearround_16plusEST32',
       'Shape__Area', 'Shape__Length'],
      dtype='object', length=149)

In [ ]:
df.head()

,OBJECTID,GEOID,STATE,COUNTY,TRACT,NAME,CNTY_FIPS,EACODE,EANAME,agg_travel_time_to_work_by_sexEST1,...,education_attainment_employment_status_25_64EST29,education_attainment_employment_status_25_64EST29_PCT,occupation_median_earnings_fulltime_yearround_16plusEST2,occupation_median_earnings_fulltime_yearround_16plusEST17,occupation_median_earnings_fulltime_yearround_16plusEST25,occupation_median_earnings_fulltime_yearround_16plusEST28,occupation_median_earnings_fulltime_yearround_16plusEST29,occupation_median_earnings_fulltime_yearround_16plusEST32,Shape__Area,Shape__Length
0,1698,6073013906,6,73,13906,Census Tract 139.06,6073,NaN,NaN,68985.0,...,83,15.04,48571.0,120208.0,36050.0,47784.0,44630.0,65924.0,2.527763e+06,9010.215864
1,1699,6073006801,6,73,6801,Census Tract 68.01,6073,NaN,NaN,38955.0,...,124,39.37,80355.0,41875.0,25885.0,65568.0,81696.0,NaN,9.536808e+05,4617.941203
2,1700,6073009802,6,73,9802,Census Tract 98.02,6073,NaN,NaN,76210.0,...,84,21.43,75577.0,NaN,NaN,58854.0,NaN,NaN,2.819492e+06,7022.192418
3,1701,6073018801,6,73,18801,Census Tract 188.01,6073,NaN,NaN,44875.0,...,122,27.11,85771.0,NaN,NaN,49250.0,50391.0,NaN,1.810234e+07,29799.480836
4,1702,6073002301,6,73,2301,Census Tract 23.01,6073,NaN,NaN,34495.0,...,27,7.69,61189.0,NaN,21034.0,27169.0,21471.0,NaN,6.002427e+05,3719.255195

In [12]:
zip_code_to_county = pd.read_csv('county-fips.csv')

In [13]:
zip_code_to_county = zip_code_to_county[zip_code_to_county['STATE'] == 'CA']

In [14]:
df.head()

,OBJECTID,GEOID,STATE,COUNTY,TRACT,NAME,CNTY_FIPS,EACODE,EANAME,agg_travel_time_to_work_by_sexEST1,...,education_attainment_employment_status_25_64EST29,education_attainment_employment_status_25_64EST29_PCT,occupation_median_earnings_fulltime_yearround_16plusEST2,occupation_median_earnings_fulltime_yearround_16plusEST17,occupation_median_earnings_fulltime_yearround_16plusEST25,occupation_median_earnings_fulltime_yearround_16plusEST28,occupation_median_earnings_fulltime_yearround_16plusEST29,occupation_median_earnings_fulltime_yearround_16plusEST32,Shape__Area,Shape__Length
0,1698,6073013906,6,73,13906,Census Tract 139.06,6073,NaN,NaN,68985.0,...,83,15.04,48571.0,120208.0,36050.0,47784.0,44630.0,65924.0,2.527763e+06,9010.215864
1,1699,6073006801,6,73,6801,Census Tract 68.01,6073,NaN,NaN,38955.0,...,124,39.37,80355.0,41875.0,25885.0,65568.0,81696.0,NaN,9.536808e+05,4617.941203
2,1700,6073009802,6,73,9802,Census Tract 98.02,6073,NaN,NaN,76210.0,...,84,21.43,75577.0,NaN,NaN,58854.0,NaN,NaN,2.819492e+06,7022.192418
3,1701,6073018801,6,73,18801,Census Tract 188.01,6073,NaN,NaN,44875.0,...,122,27.11,85771.0,NaN,NaN,49250.0,50391.0,NaN,1.810234e+07,29799.480836
4,1702,6073002301,6,73,2301,Census Tract 23.01,6073,NaN,NaN,34495.0,...,27,7.69,61189.0,NaN,21034.0,27169.0,21471.0,NaN,6.002427e+05,3719.255195

In [16]:
zipcode = '94010'
name = zipcodes.matching(zipcode)[0]['county']
countyfp = zip_code_to_county[zip_code_to_county['COUNTYNAME'] == name]['COUNTYFP']

In [17]:
df[df['COUNTY'] == countyfp.values[0]].shape

(173, 149)

In [30]:
ev = pd.read_csv('ev-zipcode-demographics.csv')

In [31]:
err_count = 0
for zip in ev['ZIP']:
    name = zipcodes.matching(str(zip))[0]['county']
    countyfp = zip_code_to_county[zip_code_to_county['COUNTYNAME'] == name]['COUNTYFP']
    if len(countyfp.values) == 0:
        err_count += 1
    else:
        county = countyfp.values[0]
        ev.loc[ev['ZIP'] == zip, 'COUNTYFP'] = int(county)

In [ ]:
cols = ['agg_travel_time_to_work_by_sexEST1',
 'agg_travel_time_to_work_by_sex_AVG_TTW',
 'travel_time_to_workEST1',
 'travel_time_to_work_30MINUS_TTW',
 'travel_time_to_work_30MINUS_TTW_PCT',
 'travel_time_to_work_30TO59_TTW',
 'travel_time_to_work_30TO59_TTW_PCT',
 'travel_time_to_work_60PLUS_TTW',
 'travel_time_to_work_60PLUS_TTW_PCT',
 'poverty_families_by_household_type_tenureEST2',
 'poverty_families_by_household_type_tenure_OWN',
 'poverty_families_by_household_type_tenure_OWN_PCT',
 'poverty_families_by_household_type_tenure_RENT',
 'poverty_families_by_household_type_tenure_RENT_PCT',
 'poverty_individuals_by_living_arrangementEST1',
 'poverty_individuals_by_living_arrangementEST2',
 'poverty_individuals_by_living_arrangementEST2_PCT',
 'poverty_individuals_by_living_arrangement_FAM',
 'poverty_individuals_by_living_arrangement_FAM_PCT',
 'poverty_individuals_by_living_arrangementEST14',
 'poverty_individuals_by_living_arrangementEST14_PCT',
 'median_household_incomeEST1',
 'aggregate_household_incomeEST1',
 'median_family_incomeEST1',
 'median_nonfamily_household_incomeEST1',
 'household_income_distribution_LT15',
 'household_income_distribution_LT15_PCT',
 'household_income_distribution_15TO25',
 'household_income_distribution_15TO25_PCT',
 'household_income_distribution_25TO35',
 'household_income_distribution_25TO35_PCT',
 'household_income_distribution_35TO45',
 'household_income_distribution_35TO45_PCT',
 'household_income_distribution_45TO60',
 'household_income_distribution_45TO60_PCT',
 'household_income_distributionEST12',
 'household_income_distributionEST12_PCT',
 'household_income_distributionEST13',
 'household_income_distributionEST13_PCT',
 'household_income_distributionEST14',
 'household_income_distributionEST14_PCT',
 'household_income_distributionEST15',
 'household_income_distributionEST15_PCT',
 'household_income_distribution_GT150',
 'household_income_distribution_GT150_PCT',
 'sex_age_employment_status_16plus_CLF',
 'sex_age_employment_status_16plus_UE',
 'sex_age_employment_status_16plus_UE_PCT',
 'sex_age_employment_status_16plus_16TO24',
 'sex_age_employment_status_16plus_UE_16TO24',
 'sex_age_employment_status_16plus_UE_16TO24_PCT',
 'sex_age_employment_status_16plus_25TO64',
 'sex_age_employment_status_16plus_UE_25TO64',
 'sex_age_employment_status_16plus_UE_25TO64_PCT',
 'sex_age_employment_status_16plus_ABOVE64',
 'sex_age_employment_status_16plus_UE_ABOVE64',
 'sex_age_employment_status_16plus_UE_ABOVE64_PCT',
 'tenure_occupants_per_room_CROWD',
 'tenure_occupants_per_room_CROWD_PCT',
 'tenure_occupants_per_room_NONCROWD_O',
 'tenure_occupants_per_room_NONCROWD_O_PCT',
 'tenure_occupants_per_room_MODCROWD_O',
 'tenure_occupants_per_room_MODCROWD_O_PCT',
 'tenure_occupants_per_room_SEVCROWD_O',
 'tenure_occupants_per_room_SEVCROWD_O_PCT',
 'tenure_occupants_per_room_NONCROWD_R',
 'tenure_occupants_per_room_NONCROWD_R_PCT',
 'tenure_occupants_per_room_MODCROWD_R',
 'tenure_occupants_per_room_MODCROWD_R_PCT',
 'tenure_occupants_per_room_SEVCROWD_R',
 'tenure_occupants_per_room_SEVCROWD_R_PCT',
 'tenure_housing_costs_pct_income_CB',
 'tenure_housing_costs_pct_income_CB_PCT',
 'tenure_housing_costs_pct_income_CB_LT35',
 'tenure_housing_costs_pct_income_CB_LT35_PCT',
 'tenure_housing_costs_pct_income_CB_GT35',
 'tenure_housing_costs_pct_income_CB_GT35_PCT',
 'tenure_housing_costs_pct_income_CB_O_LT35',
 'tenure_housing_costs_pct_income_CB_O_LT35_PCT',
 'tenure_housing_costs_pct_income_CB_O_GT35',
 'tenure_housing_costs_pct_income_CB_O_GT35_PCT',
 'tenure_housing_costs_pct_income_CB_R_LT35',
 'tenure_housing_costs_pct_income_CB_R_LT35_PCT',
 'tenure_housing_costs_pct_income_CB_R_GT35',
 'tenure_housing_costs_pct_income_CB_R_GT35_PCT',
 'median_earnings_by_sex_education_25plusEST1',
 'median_earnings_by_sex_education_25plusEST2',
 'median_earnings_by_sex_education_25plusEST3',
 'median_earnings_by_sex_education_25plusEST4',
 'median_earnings_by_sex_education_25plusEST5',
 'median_earnings_by_sex_education_25plusEST6',
 'education_attainment_employment_status_25_64EST1',
 'education_attainment_employment_status_25_64EST6',
 'education_attainment_employment_status_25_64EST6_PCT',
 'education_attainment_employment_status_25_64EST7',
 'education_attainment_employment_status_25_64EST7_PCT',
 'education_attainment_employment_status_25_64EST8',
 'education_attainment_employment_status_25_64EST8_PCT',
 'education_attainment_employment_status_25_64EST13',
 'education_attainment_employment_status_25_64EST13_PCT',
 'education_attainment_employment_status_25_64EST14',
 'education_attainment_employment_status_25_64EST14_PCT',
 'education_attainment_employment_status_25_64EST15',
 'education_attainment_employment_status_25_64EST15_PCT',
 'education_attainment_employment_status_25_64EST20',
 'education_attainment_employment_status_25_64EST20_PCT',
 'education_attainment_employment_status_25_64EST21',
 'education_attainment_employment_status_25_64EST21_PCT',
 'education_attainment_employment_status_25_64EST22',
 'education_attainment_employment_status_25_64EST22_PCT',
 'education_attainment_employment_status_25_64EST27',
 'education_attainment_employment_status_25_64EST27_PCT',
 'education_attainment_employment_status_25_64EST28',
 'education_attainment_employment_status_25_64EST28_PCT',
 'education_attainment_employment_status_25_64EST29',
 'education_attainment_employment_status_25_64EST29_PCT',
 'occupation_median_earnings_fulltime_yearround_16plusEST2',
 'occupation_median_earnings_fulltime_yearround_16plusEST17',
 'occupation_median_earnings_fulltime_yearround_16plusEST25',
 'occupation_median_earnings_fulltime_yearround_16plusEST28',
 'occupation_median_earnings_fulltime_yearround_16plusEST29',
 'occupation_median_earnings_fulltime_yearround_16plusEST32']

In [71]:
for idx, row in ev.iterrows():
    try:
        county = int(row['COUNTYFP'])
        county_df = df[df['COUNTY'] == county]
        for col in cols:
            val = np.mean(county_df[col])
            ev.loc[ev['COUNTYFP'] == county, col] = val
    except Exception as e:
        print(idx)

528

In [74]:
ev.to_csv('ev_demographic_data.csv', index=False)